<ul class="collection">
  <li class="collection-item">
    <%= image_tag user.avatar_url(:thumb), alt: "", class: "circle avatar" %>
    <a href="<%= user_path(user) %>"><span class="title"><%= user.email %></span></a>
    <p><%= user.roles.pluck(:name).join(", ") %></p>
  </li>
</ul>

