body {
  background-color: $background-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  header {
    height: auto;
    width: auto;
  }

  .brand-logo {
    margin-left: 4%;
  }

  #govt_logo {
    width: 70px;
    padding: 5px;
  }

  #logo-text-wrapper {
    margin-left: 60px;
    margin-top: 8px;
    padding: 5px;
    color: $primary-font-color;
    line-height: 1em;
    height: 100%;
    width: 50vw;
    #logo-text {
      margin-bottom: -10px;
      font-size: 18pt;
    }
    #tag-line {
      text-transform: capitalize;
      @include font-size-small;
      margin-left: 1px;
    }
  }

}

.modal {
  &.bottom-sheet {
    max-height: 75%;
  }
}

.notification {
  position: fixed;
  top: 70px;
  right: 20px;
  z-index: 997;
}

.material-icons {
  color: $primary-color;
}

main {
  flex: 1 0 auto;
}

footer {
  font-weight: 100;
}

.links {
  li {
    a {
      text-decoration: none;
      color: $secondary-font-color;
      font-weight: 100;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}

.dropdown-button {
  i.material-icons {
    margin-left: 0px;
  }
}
nav {
  height: 75px;
  background-color: white;
  .nav-avatar {
    width: 32px;
    margin-top: 10px;
  }

  ul {
    margin-right: 4%;
    margin-top: 10px;
    li {
      background-color: white;
      a {
        color: $primary-font-color;
        &:hover {
          background-color: white;
          color: $primary-color;
        }
      }
      &.active a {
        background-color: white;
        color: $primary-color;
      }
    }
  }
}


.framed-form form {
  background-color: white;
  border: 1px #bbb solid;
  border-radius: 10px;
  padding: 50px;
}

.btn {
  color: $primary-font-color;
}

.trending {
  font-size: 20pt;
  margin-top: 15px;
  font-weight: 100;
}

.title {
  color: $primary-color;
}

@media #{$large-and-up} {
  .container {
    width: 90%
  }
  .dropdown-content {
    top: 74px !important;
    li {
      min-height: 35px;
      a {
        color: $primary-font-color;
        font-size: 1rem;
        line-height: 10px;
        &:hover {
          background-color: white;
          color: $primary-color;
        }
      }
    }
  }
}

@media #{$medium-and-down} {
  .container {
    width: 90%
  }

  nav {
    .brand-logo {
      left: 2%;
      transform: none;
    }
  }
}

@media #{$small-and-down} {
  nav {
    .brand-logo {
      left: 77%;
      transform: none;
    }
  }
}
