<div class="row">
  <h2 class="col s12 flow-text title">You are editing an event</h2>
  <%= render partial: 'event_form', locals: { project: @event.project, event: @event, action_text: 'Update' } %>
</div>
