<div class="row">
  <h2 class="col s12 flow-text title">You are creating an event</h2>
  <%= render partial: 'event_form', locals: { project: @project, event: @event, action_text: 'Create' } %>
</div>
