<div class="row">
  <div class="col s12">
    <h4 class="grey-text">Framework</h4>
    <p>
      Urban water bodies are ecosystems that require a scientific understanding of its hydrological and social characteristics for restoring them. Many water bodies in Chennai are in different stages of degradation in various ways – through eutrophication, toxic pollution, indiscriminate encroachments or habitat loss. The legal ownership and responsibility of water bodies vests with various government departments depending on their extent, jurisdiction and utility. Conservation and management of the water bodies accordingly involves bringing together a large array of stakeholders and the arduous task of resolution of the conflicts between their interests. The Sustainable Water Security Mission (SWaSM) is centered on participatory approach of all stakeholders to the preparation and implementation of management action plans to restore and rejuvenate water bodies inside the Chennai Metropolitan Area (CMA).
    </p>
    <%= image_tag "stakeholders.jpg", class: 'responsive-img' %>
    <h4 class="grey-text">Water Body Database</h4>
    <p>
      As part of the SWaSM framework, the master data of all water bodies (irrespective of size) will be collated and a standard Base Line Report (BLR) prepared for all the identified water bodies. Each water body will be geo-tagged and marked on a web GIS. In case citizens identify a water body not present in the master data base, the same can be intimated with photographs and geo-coded locations to the SWaSM team. Once verified by the concerned department the “crowd sourced” water body data will be included in the database with a BLR.
    </p>
    <h4 class="grey-text">Ownership</h4>
    <p>
      For each water body the ownership will be clearly assigned. In case of conflict between departments, the same will be resolved at the earliest. If a Detailed Project Report (DPR) for water body restoration is available immediately with departments those projects will be prioritized. The responsibility for marking the boundary shall be vested with the concerned department.
    </p>
    <h4 class="grey-text">Funding</h4>
    <p>
      The size of water bodies varies from a few hundred square metres to hundreds of hectares. Further, the extent of degradation and the action plan required to restore water bodies are specific to each one. The devastating floods that deluged the city of Chennai in 2015 followed by the severe drought in 2017 have brought together the collective common conscience of the public to contribute to the restoration and rejuvenation of water bodies. In addition to Government funds wherever available, CSR funds may be pooled into specific projects. “Adopt a Water Body “concept, whereby NGOs/Corporates willing to contribute to the restoration of water bodies will be assigned specific works to be carried out. However the implementation of works will strictly be according to the action plan laid out by SWaSM. As an acknowledgement and appreciation to the contribution, proper signages indicating all stakeholders will be erected upon completion of works.
    </p>
    <h4 class="grey-text">Technical Expertise</h4>
    <p>
      The core technical expertise to develop action plan for each water body will be drawn from every source possible including retired Government engineers, academic institutions, individual researchers, NGOs etc. The restoration plan would include:
        <ul class="browser-default">
          <li>In situ measures of cleaning such as de-silting, de-weeding or any other successfully tested eco-technologies etc depending upon the site conditions</li>
          <li>Catchment area treatment which may include afforestation, storm water drainage, and silt traps etc</li>
          <li>Strengthening of bund, lake fencing, shoreline development etc</li>
          <li>Public awareness and active public participation through focused events</li>
          <li>Prevention of pollution from non-point sources by providing low cost sanitation</li>
          <li>Proper signage to invoke a sense of pride and ownership among citizens</li>
        </ul>
    </p>
    <h4 class="grey-text">Maintenance</h4>
    <p>
      Every restored water body shall have a Maintenance Action Plan (MAP) to address all issues which may cause future degradation.  In order to facilitate greater citizen participation, the entire process &amp; timeline of the water body restoration program will be available on the website. Effective volunteer management tools will be deployed to facilitate easy communication with volunteers especially those from local community
    </p>
    <h4 class="grey-text">Monitoring</h4>
    <p>
      A major component in the sustainability of the project depends on the monitoring of the restoration by local community. For this purpose, local RWAs and NGOs shall be identified and act as lead monitoring agencies for the projects. Local volunteer groups will be trained to keep a check on various water quality parameters and report the same to concerned authorities in case of deterioration. On a pilot basis automated sensor based water quality monitoring will be carried out with support from Chennai Smart City.
    </p>
  </div>
</div>
