<div class="row">
  <h2 class="col s6 offset-s3">Projects</h2>
  <% @projects.each do |project| %>
    <%= render partial: "project", locals: { project: project } %>
  <% end %>
</div>

<%= link_to '<i class="material-icons">add</i>'.html_safe, new_project_path, class: "btn-floating btn-large waves-effect waves-light red" %>
