@import "materialize/components/color";
$primary-color: color("light-green", "darken-1") !default;
$secondary-color: color("light-blue", "lighten-2") !default;
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.modal {
  &.bottom-sheet {
    max-height: 75%;
  }
}

.notification {
  position: fixed;
  top: 70px;
  right: 20px;
}

#new {
  position: fixed;
  bottom: 50px;
  right: 150px;
}
