// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: #01BFBD !default;
#contribute-btn {
  width: 100%;
  background-color: $primary-color;
  color: white;
  font-size: 20pt;
  font-weight: 300;
  text-transform: capitalize;
}
